<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9303F8AE1D0EB9560071DBCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9303F8C21D0EB9560071DBCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9303F8CD1D0EB9560071DBCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
